<h1>Players</h1>

<table>
    <tr>
        <th>Address</th>
        <th>Completed</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.address }}</td>
        <td>{{ player.completed_stations_count }}</td>
    </tr>
    {% endfor %}
</table>

<h1>Stations</h1>

<table>
    <tr>
        <th>URL</th>
        <th>Code</th>
    </tr>
    {% for station in stations %}
    <tr>
        <td>{{ station.audio_url }}</td>
        <td>{{ station.select_code }}</td>
    </tr>
    {% endfor %}
</table>

<form method="post">{% csrf_token %}
    <input type="submit" value="RESET GAME">
</form>
